[submodule "Back-API-SEMESTRE3"]
	path = Back-API-SEMESTRE3
	url = https://github.com/equipeAdalove/Back-API-SEMESTRE3.git
[submodule "Front-API-SEMESTRE3"]
	path = Front-API-SEMESTRE3
	url = https://github.com/equipeAdalove/Front-API-SEMESTRE3.git
